In [2]:
import csv
from typing import *
import pandas as pd

In [3]:
def read_csv(path: str):
    file = open(path, encoding='utf-8')
    reader = csv.reader(file)

    for line in reader:
        print(line)

read_csv('../Data/airbnb_open_data.csv')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

we have to delete:
the column of country code
modify the constuction year, price, service fee, minimum nights, no of reviews, review rate number, calc. host. list. count., availability to be int.

In [7]:
df1 = pd.read_csv('../Data/airbnb_open_data.csv', low_memory=False)

In [11]:
df1.rename(columns=lambda x: (x.replace(' ', '_')).lower(), inplace=True)
int_columns = ['construction_year', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'review_rate_number', 'calculated_host_listings_count', 'availability_365']
str_columns = []

df1.dropna()
# df1.dropna()

#
# for col in int_columns:
#     df1[col] = df1[col].astype(int)
# df1

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
11114,7139598,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,verified,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,191.0,"Dear Guest, Thank you for appreciating that I ...",41662/AL